<table>
  <thead>
    <tr>
      <th>name</th>
      <th>class</th>
      <th>mark</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of studentlist; let i = index">
      <td>{{list.name}}</td>
      <td>{{list.class}}</td>
      <td>{{list.mark}}</td>
      <td>
        <button (click)="passstudent(i)">pass</button> |
        <button (click)="failstudent(i)">fail</button>
      </td>
   
    </tr>
  </tbody>
</table>
<div class="studentlist">
  <h1>pass</h1>
  <table>
    <thead>
      <tr>
        <th>name</th>
        <th>class</th>
        <th>mark</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of passtable">
        <td>{{list.name}}</td>
        <td>{{list.class}}</td>
        <td>{{list.mark}}</td>
      </tr>
    </tbody>
  </table>
  <h1>fail</h1>
  <table>
    <thead>
      <tr>
        <th>name</th>
        <th>class</th>
        <th>mark</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of failtable">
        <td>{{list.name}}</td>
        <td>{{list.class}}</td>
        <td>{{list.mark}}</td>     
      </tr>
    </tbody>
  </table>
  
  
</div>